<template>

        <div class="input-group mb-9">
        <input type="text" class="form-control" name="comment" v-model="formData.comment" style="width: 400px"  placeholder="Write a comment">
            <div class="input-group-prepend">
                    <button class="input-group-text" type="submit" id="inputGroup-sizing-sm" @click="commentStore">
                        <i class="bi bi-send bi-lg"></i>
                    </button>
            </div>
    </div>

      

</template>

<script>

    export default {

        props: ['userid', 'postid'],

        data(){
            return {
                formData:{
                    comment: '',
                    user_id: this.userid,
                    post_id: this.postid, 
                }
            }
        },

        methods:{
            commentStore(){
                axios.post('/comment/store/', this.formData).then((response) => {
                    console.log(response.data)
                    this.formData.comment = ''
                }).catch((errors) => {
                    console.log(errors)
                });
            }
        }

        

    }
</script>


