<template>
<div class="be-comment-block">
        <!-- Start for loop--> 
         <p v-for="(comment, index) in comments" :key="index">
            <!-- Start if--> 
            <label v-if="authUserId==comment.user.id">
                <!-- Comment-->
                <div class="be-comment">
                     <div class="be-img-comment">
                            @if ( coment.user.photo == '')>
                            <img  :src="asset('storage/profile/default-profile.jpg')"  class="be-ava-comment">
                            @else
                            <img  :src="asset('storage/'.comment.user.photo)"  class="be-ava-comment">
                            @endif
                         </div>
                        <div class="be-comment-content">
                            <div class="d-flex align-items-baseline">
                              <a :href="'/profile/' + comment.user.id" style="text-decoration: none; color: black; ">{{comment.user.username}}</a>
                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <!-- Edit -->
                                        <!--<a href="" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModals()">Edit</a>-->
                                        <a href="#" class="dropdown-item" @click="editModal(comment)">
                                                Edit
                                            </a>
                                        <!--<button style="border:none; background-color: transparent;" @click="editComment(comment.id)">Edit again</button>-->
                                        <!-- End Edit -->
                                        <!-- Delete -->
                                        <a class="dropdown-item" href="">
                                        <button style="border:none; background-color: transparent;" @click="deleteComment(comment.id)">Delete</button>
                                        </a>
                                        <!-- End Delete -->
                                        </div>
                                       
                                            </div>
                                    <!-- End Dropdown -->
                                    <!-- Created at -->
                                        <span class="be-comment-time"><i class="fa fa-clock-o"></i><!-- Date here--> </span>
                                    <!-- End Created at -->
                                </div>
                                <!-- Comment display -->
                                <p class="be-comment-text">{{comment.comment}}</p>
                                <!-- End Comment display -->
                               
                        </div>
                    </div>
                     <!-- End Comment-->
                      
                    
            </label>
            <!-- End if--> 
            <!-- Start else--> 
              <label for="" v-else>
               <div class="be-comment">
                            <div class="be-img-comment">	
                                <a href="">
                                    @if ( coment.user.photo == '')>
                                        <img  :src="asset('storage/profile/default-profile.jpg')"  class="be-ava-comment">
                                    @else
                                        <img  :src="asset('storage/'.comment.user.photo)"  class="be-ava-comment">
                                    @endif
                                </a>
                            </div>
                            <div class="be-comment-content">
                                <div class="d-flex align-items-baseline">
                                        <a :href="'/profile/' + comment.user.id" style="text-decoration: none; color: black; ">{{comment.user.username}}</a>
                                            <span class="be-comment-time">
                                                <i class="fa fa-clock-o"></i>
                                                <!-- Date here--> 
                                            </span>
                                    </div>
                                <p class="be-comment-text">
                                    {{comment.comment}}
                                </p>
                            </div>
                    </div>
               </label>
            <!-- End else--> 
          
        </p>
        <!-- end for loop--> 
          <!-- Modal -->
                      <div class="modal" id="editComment">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Comment</h5>
                                </div>
                                <form  @submit.prevent="updateComment()">
                                    <div class="modal-body">
                                        <div style="padding-top: 5px; padding-left: 10px">
                                            <input v-model="form.comment" type="text" name="comment" class="form-control">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Update</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->  
</div>
</template>

<script>
import Form from 'vform'
    export default {
        props: ['userid', 'postid', 'id'],

        data(){
            return{
                comments: {},
                authUserId: this.userid,
                form: new Form({
                    id: '',
                    comment: '',
                })

            }
        },

        mounted(){
            this.getComments()
            this.interval = setInterval(function(){
                this.getComments()
            }.bind(this), 500)
        },

        methods:{
            getComments(){
                axios.get('/comment/' + this.postid)
                .then((response)=>{
                   this.comments = response.data
                }).catch((errors)=>{
                    console.log(errors)
                })
            },

            deleteComment(id){
                 axios.delete('/comment/' + id)
                .then((response)=>{
                   this.comments = response.data
                }).catch((errors)=>{
                    console.log(errors) 
                })
            },

            editModal(comment){
                this.form.reset();
                $('#editComment').modal('show');
                this.form.fill(comment);
            },

            updateComment(){
                this.form.patch('/comment/update/' + this.form.id).then((response) => {
                    console.log(response.data)
                    //this.formData.comment = ''
                }).catch((errors) => {
                    console.log(errors)
                });
              
            }
        

        }
    }
</script>