<template>
    <div class="input-group mb-3 ">
      <input type="text" class="form-control" size="50" name="query" v-model="query" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
              <button class="btn btn-primary" @click="getSearch"><i class="bi bi-search"></i></button>
          </div>
    </div>
</template>

<script>
    export default {
         
         props: ['query'],

        data(){
            return {
                formData:{
                    query: '',
                }
            }
        },

        methods:{
            getSearch(){
                axios.get('/search/' + this.query).then((response) => {
                    console.log(response.data)
                    this.formData.query = ''
                }).catch((errors) => {
                    console.log(errors)
                });
            }
        }

        

    }
</script>


