<template>
   
        <button class="lcsBtn cancelBtn" @click="likePost" v-text="buttonText"></button>
        
  
</template>

<script>
    export default {

        props: ['postId','liked'],

        mounted() {
            console.log('Component mounted.')
        },

        data: function(){
            return {
                status: this.liked,
            }
        },


        methods: {
            likePost(){
             axios.post('/like/' + this.postId)
              .then(response =>{
                this.status = ! this.status;
                console.log(response.data);
              })
              .catch(errors => {
                  if(errors.response.status=401){
                            window.location = '/login';
                        }
              });
                
            }

        },
         computed: {
            buttonText(){
                return (this.status) ? 'Unlike' : 'Like';
            }
        }

    }
</script>


