<template>
    <div style="padding-top: 5px; padding-left: 10px">
           <button class="btn btn-primary btn-sm" @click="newPost"> New Post </button>
             <!--New Post Modal -->
            <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div  style="padding-top: 5px; padding-left: 10px">
                                <input type="text" id="postDescription" v-model="formData.postDescription" class="form-control" size="100" name="postDescription" style="border-radius: 10px;" placeholder="What's on your mind?">
                            </div>
                            <div  style="padding-top: 5px; padding-left: 10px">
                                <input type="file" class="form-control" id="image" name="image" size="100" style="border-radius: 10px;" placeholder="">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"  @click="store">Post</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import Form from 'vform'
    export default {

        props: ['userid'],
        
         data(){
            return {
                formData: new Form({
                    user_id: this.userid,
                    postDescription: "",
                }),
            }
        },


        methods:{
            newPost(){
               this.formData.reset();
               this.formData.clear();
               $("#newPostModal").modal("show");
            },
            store(){
                    axios.post('/posts/store/', this.formData).then((response) => {
                    console.log(response.data)
                    this.formData.postDescription = ''
                    }).catch((errors) => {
                        console.log(errors)
                    });
            },
        }

        

    }
</script>


