<template>
    <div class="container">
        <button style="border:none; background-color: transparent; width: 250px;" @click="unlikePost">Unlike</button>
        <button style="border:none; background-color: transparent;  width: 250px;">Comment</button>
         <button style="border:none; background-color: transparent;  width: 250px;">Share</button>
    </div>
</template>

<script>
    export default {

        props: ['postId'],

        mounted() {
            this.interval = setInterval(function(){
                this.unlikePost()
            }.bind(this), 500)
        },

        methods: {
            unlikePost(){
                axios.delete('/post/' + this.postId +'/likes')
                 .then(response =>{
                    console.log(response.data);
                 });
                
            }
        },
        computed: {
            buttonText(){
                return (this.status) ? 'Liked' : 'Like';
            }
        }

    }
</script>


